{% extends 'base.html' %}

{% block content %}
    <section>
        {% for book in book_list %}

            <section>
                <div class="book_display">
                    <div class="book_display_text">
                        <h2 class="underline">{{ book.title }}</h2>
                        <h3><i>{{ book.author }}</i></h3>
                        <h4>{{ book.genre }}</h4>
                        
                        {% if book.checked_out %}
                            <p><i>Checked Out</i></p>
                        {% endif %}
                    </div>

                    <div>
                        <form class="book_button" action="book/{{ loop.index0 }}" method="get">
                            <input class="inspect_book" type="submit" value="Inspect Book">
                        </form>

                        <form class="book_button" action="book/{{ loop.index0 }}/delete" method="post">
                            <input class="delete_book" type="submit" value="Delete Book">
                        </form>

                        <form class="flex_justify_right" action="/book/{{ loop.index0 }}/update_checked_out" method="post">
                            <div class="padding1">
                                <label for="checked_out {{ loop.index0 }}">Checked Out:</label>
                                <input type="checkbox" id="checked_out {{ loop.index0 }}" name="checked_out {{ loop.index0 }}" value="Checked Out">
                            </div>
                            <div class="padding1">
                                <input type="submit" name="submit" id="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        {% endfor %}

        <div class="flex_justify_right">
            <form action="book/add_new_book" method="get">
                <input class="add_new_book_button" type="submit" value="Add New Book">
            </form>
        </div>
    </section>
{% endblock content %}